

*{
	box-sizing: border-box;
}

#box {

	height: auto;
}

#wrapper {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	text-align: center;
	color: black;

}

.input-field {
	width: 30%;
	margin: 10px;
}

#tagBox {
	margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
}

#tagList {
	list-style-type: none;
	display: block;

}

.tag {

	display: inline;
	float: left;
	margin: 5px;
	padding: 6px 16px;
	background: #C6C0C0;
	font-size: 12px;
	border-radius: 2px;
	color: black;
	cursor: default;
	border-radius: 10%;

}

a:hover {
	text-decoration: none;
}

#close {
    
    padding: 2px; 
	margin: 2px;
}

#close:hover {
	color: white;
}

#btn {

	
	margin: auto;
	margin-top: 30px;

}

#suggestList {
	color: black;
	display: block;
	height: auto;
	background-color: grey; 

}

option {
	display: block;
	color: black;
	font-size: 20px;
}

.page-header {

	margin: 0;
}

.main-content {

	position: relative;
	margin-top: 100px;
}

